<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="HandheldFriendly" content="true">

  <title>Innolabz Website</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

  <!-- Favicons -->
  <link href="static/img/logo1.png" rel="icon">
  <link href="static/img/apple-touch-icon.png" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Raleway:400,500,700|Roboto:400,900" rel="stylesheet">

  <!--  CSS Files -->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="static/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="static/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
  <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

  <!--  Main CSS File -->
  <link href="static/css/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="hero">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-12" style="margin-top:1px;">
          <a class="hero-brand" href="index.html" title="Home">
<img alt="innolabzLogo" src="static/img/logo2.png">
          </a>
        </div>
      </div>

      <div class="col-md-12">
        <h1 style="color:#f79521">
          An INNOvative LABoratory for Gen-Z
        </h1>
        <p class="tagline">
        </p>
        <a class="btn btn-full scrollto" href="#about">Get Started Now</a>
      </div>
    </div>

  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center">

      <div id="logo" class="me-auto">
       <!--<a href="index.html"><img src="static/img/logo2.png" alt="" width="150px" ></a>--> 
        <!-- Uncomment below if you prefer to use a text image -->
        <h1><a href="#hero">innolabz</a></h1>
      </div>

      <nav id="navbar" class="navbar order-last order-lg-0">
        <ul>
          <li class="dropdown"><a href="#"><span>About</span> </a></li>
          <li><a class="nav-link scrollto" href="#prt">Group Companies</a></li>
          <li><a class="nav-link scrollto " href="#media">Media</a></li>
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
          <li><a class="nav-link scrollto " href="#career">Career</a></li>
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

      <div class="header-social-links d-flex align-items-center">
        <a href="https://twitter.com/innolabz" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.instagram.com/innolabz/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/innolabz/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>
    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section class="about" id="about">

      <div class="container text-center">
        <h2>
          <span style="color:#183040"> About</span> <span style="color:#f79521">Innolabz</span>
        </h2>

        <p>
          INNOLABZ VENTURES PVT. LTD  is a leading 360-degree research, technology and consulting company having a ast network of professionals from multiple domains and geographies, having expertise and experience in their respective domains.
          Innolabz is a gen-z organisation aiming at bridging the gap between the industry and the talent We focus on the 3 E Mantra and are constantly working on Exploration, Experimentation and Employability. We believe in creating a sustainable Ecosystem, of the people, by the people and for the people.
        </p>
        <!-- ======= 3E mantra Section ======= -->
    <section id="values" class="values">

      <div class="container" data-aos="fade-up">
        <div class="row">
          <div class="col-lg-4">
            <div class="box text-center" data-aos="fade-up" data-aos-delay="200">
              <img src="static/img/Employability.jpg" class="img-fluid" alt="">
              <h3>EMPLOYBILITY</h3>
              <p>As the needs of the industry are evolving and advancing, the academia shall brace up for the changes in workforce demand. To fulfill the changing yet increasing demand, InnoLabZ trains candidates to become purple squirrels by enhancing their employability.</p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0 text-center">
            <div class="box" data-aos="fade-up" data-aos-delay="400">
              <img src="static/img/Entrepreneurship.jpg" class="img-fluid" alt="">
              <h3>ENTREPRENEUR</h3>
              <p>With a shift in the industrial innovation, there has been a surge in the number of young entrepreneurs. To strengthen the business-ecosystem, InnoLabZ supports the emerging business and startups by training them in entrepreneurial skills. Apart from developing skills in latest business tools, InnoLabZ also provides one stop solution for all business needs such as web/UI/UX designing, digital marketing, legal & other compliances, virtual sales, etc. </p>
            </div>
          </div>

          <div class="col-lg-4 mt-4 mt-lg-0 text-center">
            <div class="box" data-aos="fade-up" data-aos-delay="600">
              <img src="static/img/Exploration.jpg" class="img-fluid" alt="">
              <h3>EXPLORATION</h3>
              <p>InnoLabZ excessively focuses on exploration which leads to innovation. The exploration team is continually designing the learning and development initiatives. These initiatives would strengthen the business ecosystem by imparting necessary industry-skills. </p>
            </div>
          </div>

        </div>

      </div>

    </section><!-- 3E mantra Section -->   
</section><!-- End About Section -->
    <!----verticals-->

      <div class="container verticals" data-aos="fade-up" id="vert">

        <div class="row gy-4">
          <center><h2>
            <span style="color:#183040"> Verticals</span>
          </h2></center>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="verticals-box orange text-center">
              <i><img src="static/img/pc.png" onmouseover="this.src='static/img/pc_ho.png'" onmouseout="this.src='static/img/pc.png'"></i>
              <h3></h3>
              <p>In the contemporary, where competition is at every level, it is very important to make career choices with great intelligence and dexterity. A single mistake and you have to feel repentant about it for the rest of your life. Comprehending the same, we at INNOLABZ, came up with the idea of Power2Career program in which we train the graduates as per the emerging and present-day job prerequisites.</p>
              <a href="https://power2career.com/" target="_blank" class="read-more" style="padding-top: 30px;"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="verticals-box orange text-center">
              <i><img src="static/img/ps.png"onmouseover="this.src='static/img/ps_ho.png'" onmouseout="this.src='static/img/ps.png'"></i>
              <h3></h3>
              <p>A platform for startups to find the right resources for their venture in terms of knowledge, network and capital. Also, utilizing them for the growth of the organiation using the shared services provided by our partner network.</p>
              
              <a href="https://power2startup.com/" target="_blank" class="read-more" style="padding-top: 175px;"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="verticals-box orange text-center">
              <i><img src="static/img/pi.png" onmouseover="this.src='static/img/pi_ho.png'" onmouseout="this.src='static/img/pi.png'"></i>
              <h3></h3>
              <p>A great program for the promising young entrepreneurs, Power2Idea is basically an entrepreneurship development program that is aimed to transform the vivid dreams of the budding entrepreneurs into a living reality. With the help of well-experienced and highly adroit trainers and experts, the rising entrepreneurs are edified with the fundamentals of business and everything important that it takes to become a successful and renowned entrepreneur.</p>
              <a href="https://www.power2idea.com/" target="_blank"   class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          
        </div>

      </div><!-- End verticals Section -->
    <!--What we do-->
    <div class="container text-center" id="we">
      <div class="row stats-row">
        <h2>
          <span style="color:#183040"> What</span> <span style="color:#f79521">We</span><span style="color:#183040"> Do</span>
        </h2>
        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle">
            <span> Creative Sustainable Ecosystem</span>
          </div>
          <p style="padding-top: 20px;">We are working towards creating a sustainable ecosystem by the people, of the people and for the people. We wish to create an ecosystem that uplifts society by creating opportunities.</p>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle1">
            Empowering Gen-Z
          </div>
          <p style="padding-top: 20px;">Our primary objective is to cater to the needs of Gen-Z. We emphasize constant experimentation and empowering the youth.</p>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle1">
            Nurturing Innovation
          </div>
          <p style="padding-top: 20px;">As our name suggests, innovation.is our backbone. We at Innolabz, are constantly focusing on innovation as a tool to solve problems and to inspire society.</p>
        </div>

        <div class="stats-col text-center col-md-3 col-sm-6">
          <div class="circle2">
            Developing Entrepreneurship
          </div>
          <p style="padding-top: 20px;">We encourage opportunities and creators of opportunities. We strive to solve startup problems, motivate entrepreneurs and promote entrepreneurship. Our vertical. Power 2 Startup is a one-stop destination for all startup needs.</p>
        </div>
      </div>
    </div>
  <!-- End what we do -->
<!-- ======= Companies Section ======= -->
<section id="features" class="features" data-aos="fade-up">
  <div class="container">

    <div  style="padding-bottom: 60px;">
      <center><h4><span style="color:#183040"> Group</span> <span style="color:#f79521">Companies</span><span style="color:#183040"> &</span><span style="color:#f79521"> Incubatees</span></h4></center>
    </div>

    <div class="row content">
      <div class="col-md-5" data-aos="fade-right" data-aos-delay="100">
        <img src="static/img/glorifystays2.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-4" data-aos="fade-left" data-aos-delay="100">
        <h4 class="card-title">Glorify Hotels</h4>
        <p class="text-muted">
          Glorify Hotels and Resorts is our project in the hospitality sector. We are a one-stop solution for all our clients. Under Glorify Hotels and Resorts we aim to cater the best hospitality services in the market. We also offer management solutions to the market.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
        <img src="static/img/mh.jpeg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
        <h4>Mandi House</h4>
        <p class="text-muted">
          Mandi House is an organic produce store. We work on the “Farm to Folk” Model. The project focuses on eliminating middlemen and provides organic products to the customers without any hassle. With consistent research and improvisation, we aim at providing the best services to all parties.
        </p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5" data-aos="fade-right">
        <img src="static/img/din.png" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5" data-aos="fade-left">
        <h4>Dé-Influenza</h4>
        <p class="text-muted">Dé-Influenza is the bridge between social media influencers and prospective brands. With this project we wish to create a community where brands can easily reach out to influencers for the promotion  and Influencers can broaden their reach in the industry too.</p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
        <img src="static/img/supersub2.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
        <h4>Super Sub Café</h4>
        <p class="text-muted">
          Super Sub Café is a food chain start-up. With this project, we aim to gain an edge in the Food industry. Currently catering to Cricket Players and Corporates, the café is focusing on expanding its services to other parts of the country.
        </p>
      </div>
    </div>
    <div class="row content">
      <div class="col-md-5" data-aos="fade-right">
        <img src="static/img/quirkynaari.jpg" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5" data-aos="fade-left">
        <h4>Quirky Naari</h4>
        <p class="text-muted">Quirky Naari is our Bohemian project, offering the most trending and upbeat prints on the Internet. The project specializes in custom shoes. Quirky Naari added a feather in its cap when its prints seen in the Bigg Boss House.</p>
      </div>
    </div>

    <div class="row content">
      <div class="col-md-5 order-1 order-md-2" data-aos="fade-left">
        <img src="static/img/Capture.JPG" class="img-fluid" alt="">
      </div>
      <div class="col-md-7 pt-5 order-2 order-md-1" data-aos="fade-right">
        <h4>Asimiti Aayurgavya</h4>
        <p class="text-muted">
          Aayurgavya is our effort to bridge the gap between ‘Panchagavya’ and the potential customers. The project focuses on Education, Research and Practise. Aayurgavya will lessen the gap between the rural and urban India and help Ayurveda reach every doorstep.
        </p>
      </div>
    </div>

  </div>
</section><!-- End companies Section -->

<!-- ======= media Section Html code ======= -->
    <section class="portfolio" id="media">

      <div class="container text-center">
        <h2>
          Media
        </h2>
      </div>

      <div class="portfolio-grid">
        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news1.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news1.jpg">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news2.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news2.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news5.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news5.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news3.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news3.png">
              </a>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news7.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news7.jpg">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news9.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news9.png">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news4.jpg" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news4.jpg">
              </a>
            </div>
          </div>

          <div class="col-lg-3 col-sm-6 col-xs-12">
            <div class="card card-block">
              <a href="static/img/news10.png" class="portfolio-lightbox" data-gallery="portfolioGallery"><img alt="" src="static/img/news10.png">
              </a>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End media Section -->
    <br><br>
    

    <!-- ======= Team Section =======-->
    <section class="team" id="team">
      <div class="container">
        <h2 class="text-center">
          <span style="color:#183040"> Meet</span> <span style="color:#f79521">Our</span><span style="color:#183040"> Team</span>
        </h2>
        <p class="text-center">A great team isn't made of great people but great ambitions. We at Innolabz are working towards a common goal of creating an ecosystem where experimentation is nurtured and innovation is encouraged.</p>
        <div class="row">
          <!--Saurabh Chaturvedi Profile-->
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a><img alt="" class="team-img" src="static/img/c2.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Saurabh Chaturvedi</span> <span class="card-text">CEO</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                  </h4>

                  <nav class="social-nav">
                  </nav>

                  <p>
                    Saurabh Chaturvedi is an Educationist and has the vision of making India a global leader in technology. He has worked with reputed MNC and strarup at local and international locations.
                  </p>
                  <nav class="social-nav" style="padding-top:30px;">
                    <a href="https://www.linkedin.com/in/saurabhchaturvedi89/" target="_blank"><i class="bi bi-linkedin"></i></a>
                   </nav>
                </div>
                
              </a>
            </div>
          </div>
          <!--Saurabh Chaturvedi Profile End-->
          <!--Kamalpreet Kaur Profile-->    
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a><img alt="" class="team-img" src="static/img/c4.jpg">
                <div class="card-title-wrap">
                  <span class="card-title">Kamalpreet Kaur</span> <span class="card-text">Vice President</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                  </h4>

                  <nav class="social-nav">
                  </nav>

                  <p>
                    With an industry experience of 10 years , Kamalpreet Rai is the Director of Glorify Stays and Hospitality Pvt Ltd. Formerly worked with Spicejet Airlines. She has also worked for Goibibo in the airlines contracting domain. 
                  </p>
                  <nav class="social-nav" style="padding-top:30px;">
                    <a href="https://www.linkedin.com/in/kamalpreet0202/" target="_blank"><i class="bi bi-linkedin"></i></a>
                    </nav>
                </div>
              </a>
            </div>
          </div>
          <!--Kamalpreet Kaur Profile End-->
          <!--Akshat Singh Profile-->
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a><img alt="" class="team-img" id="one" src="static/img/c5.jpeg">
                <div class="card-title-wrap">
                  <span class="card-title">Akshat Singh</span> <span class="card-text">Head Expansion</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                  </h4>

                  <nav class="social-nav">
                  </nav>

                  <p>
                    Akshat Singh is Growth specialist, having rich experience in working closley with founding teams of sevral startup where he has leveraged his expertise in their growth.
                  </p>
                  <nav class="social-nav" style="padding-top:30px;">
                    <a href="https://www.linkedin.com/in/akshat-s-286170212/" target="_blank"><i class="bi bi-linkedin"></i></a>
                   </nav>
                </div>
              </a>
            </div>
          </div>
          <!--Akshat Singh Profile End-->
          <!--Raksha Yadav Profile-->
          <div class="col-sm-3 col-xs-6">
            <div class="card card-block">
              <a><img alt="" class="team-img" src="static/img/c6.jpeg">
                <div class="card-title-wrap">
                  <span class="card-title">Raksha Yadav</span> <span class="card-text">Vice President B.D.</span>
                </div>

                <div class="team-over">
                  <h4 class="hidden-md-down">
                  </h4>

                  <nav class="social-nav">
                  </nav>

                  <p>
                    A competent professional with experience in Sales/Marketing/Business development. With demonstrated history of working in various industry. Leading Power2Startup project of Inno-labz aggressively.                  
                  </p>
                  <nav class="social-nav" style="padding-top:30px;">
                    <a href="https://www.linkedin.com/in/raksha-y-570a12190/" target="_blank"><i class="bi bi-linkedin"></i></a>
                  </nav>
                </div>
              </a>
            </div>
          </div>
        </div>
        <!--Raksha Yadav Profile End-->
      </div>
    </section><!-- End Team Section -->
    <!-- ======= career ======= -->
    <section class="cta" id="career">
      <div class="container">
        <div class="row">
          <div class="col-lg-9 col-sm-12 text-lg-start text-center">
            <h2>
              <span style="color:#183040"> Career</span>
            </h2>

            <p style="padding-bottom:30px;">
              Ready for challenges? Don’t worry, we got you covered. Innolabz Ventures is a Gen-Z organisations that will help you not only polish your skills but also build an enriching experience. So, if you have the passion to perform, patience to survive and persistence to never stop, Join us!
            </p>
          </div>

          <div class="col-lg-3 col-sm-12 text-lg-right text-center" style="padding-top:40px;">
            <a class="btn btn-ghost" href="career">Join us!</a>
          </div>
        </div>
      </div>
    </section><!-- career -->
    <!-- ======= Mission/Vision Section ======= -->
    <section>

      <div class="container" data-aos="fade-up">

       <!--<header class="section-header">
          <div class="section-title">
            <center><h2><span style="color:#183040"> Mission <span style="color:#f79521"> & </span>Vision</span></h2></center>
          </div>
        </header>-->
        

        <div class="container">
          <div class="row">
              <div class="col-lg-6 mb-4">
                  <div class="card">
                      <img  src="static/img/m1.png" class="missionimg" alt="">
    
                      <div class="card-body">
                        <span style="color:#183040"><h5 class="card-title "><b>Mission</b></h5>
                          <p class="card-text">
                            To create a collaborative ecosystem which is self sustaining
                             through advancing education and developing entrepreneurship.
                          </p></span>
                      </div>
                  </div>
              </div>
              <div class="col-lg-6 mb-4">
                  <div class="card" >
                    <img  src="static/img/vision.png" class="missionimg" alt="">
    
                      <div class="card-body">
                        <span style="color:#183040"><h5 class="card-title"><b>Vision</b></h5>
                          <p class="card-text">
                            Our Vision is to be a global platform of choice for all
                             research, strategy and business development by offering 
                             personalized solution to every business.
                          </p></span>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      
    </section><!-- End Mission/Vision Section -->

  

    <section id="contact" style="padding-top:60px;">
      <div class="container">
        <div class="row">
          <div class="col-md-12 text-center">
            <h2 class="section-title"><span style="color:#183040"> Contact</span><span style="color:#f79521"> Us</span></h2>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-3 col-md-4">
            <div class="info">
              <div>
                <i class="bi bi-geo-alt"></i>
                <p>C-108, Sector 2<br>Noida, Uttar Pradesh</p>
              </div>

              <div>
                <i class="bi bi-envelope"></i>
                <p>info@inno-labz.com</p>
              </div>

              <div>
                <i class="bi bi-whatsapp"></i>
                <p> +91 8810613561</p>
              </div>

               <div>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3503.4988897894973!2d77.31386931455849!3d28.584806692991325!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390ce458c5170c81%3A0x6cc91c7b70b704ae!2sInnolabz%20Ventures%20Private%20Limited!5e0!3m2!1sen!2sin!4v1622646423498!5m2!1sen!2sin" width="250" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
              </div>

            </div>
          </div>

          <div class="col-lg-5 col-md-8">
            <div class="form">
            
              <form method="post" action="/">
                {% csrf_token %}
                <input type="text" id="name" name="name" placeholder="Your Name" required><br><br>
                <input type="email" id="email" name="email" placeholder="Your E-mail" required><br><br>
                <input type="tel" id="phone" name="phone" placeholder="Mobile Number" required pattern="[0-9]{3}[0-9]{3}[0-9]{4}"><br><br>
                <textarea name="message" id="message" rows="8" cols="50" placeholder="Your Message" required></textarea><br><br>
              
                {% if messages %}
                  {% for message in messages %}
                    <div class="alert {{ message.tags }} m-2" id="messages" role="alert">
                      {{ message }}
                    </div>
                  {% endfor %}
                {% endif %}
                <center><button class="send-message-cta" type="submit">SUBMIT</button></center><br><br>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

  <script>
    setTimeout(function(){
      if ($('#messages').length>0){
        $('#messages').remove();
      }
    }, 5000 )
  </script>

 <!-- ======= Footer ======= -->
  <footer class="site-footer">
    <div class="bottom">
      <div class="container">
        <div class="row">

         <div class="col-lg-6 col-xs-12 text-lg-start text-center">
            <p class="copyright-text">
              &copy; Copyright <strong>Inno-labz</strong>. All Rights Reserved
            </p>
   
          </div>
          <div class="col-lg-6 col-xs-12 text-lg-right text-center">
            <ul class="list-inline">
              <li class="list-inline-item">
                <a href="index.html">About</a>
              </li>

              <li class="list-inline-item">
                <a href="#group">Group Companies</a>
              </li>

              <li class="list-inline-item">
                <a href="#features">Media</a>
              </li>
              
              <li class="list-inline-item">
                <a href="#team">Team</a>
              </li>

              <li class="list-inline-item">
                <a href="#contact">Contact</a>
              </li>
              
            </ul>
                   
          </div>
          
          <div class="footer-social-links">
           <a href="https://twitter.com/innolabz" target="_blank" class="twitter"><i class="bi bi-twitter"></i></a>
        <a href="https://www.facebook.com/innolabz" target="_blank" class="facebook"><i class="bi bi-facebook"></i></a>
        <a href="https://www.instagram.com/innolabz/" target="_blank" class="instagram"><i class="bi bi-instagram"></i></a>
        <a href="https://www.linkedin.com/company/innolabz/" target="_blank" class="linkedin"><i class="bi bi-linkedin"></i></i></a>
      </div>

          <div class="abc">
            <ul class="career">
              <li class="car">
                <a href="https://power2career.com/" target="_blank">Power2Career</a>
              </li>
              <li class="car">
                <a href="https://power2startup.com/" target="_blank">Power2Startup</a>
              </li>
              <li class="car">
                <a href="https://www.power2idea.com/" target="_blank">Power2Idea</a>
              </li>             
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End Footer -->


  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="static/vendor/glightbox/js/glightbox.min.js"></script>
  <script src="static/vendor/purecounter/purecounter.js"></script>

  <!--  Main JS File -->
  <script src="static/js/main.js"></script>

</body>

</html>
